/* Add this to your stylesheet */
.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 300px;
    height: 700px;

    position: relative;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card > .icon{
    position: absolute;

    top: 0;
    right: 0;
}

.card.empty {
    /* Your existing card styles here */

    position: relative; /* Make sure the position is relative for absolute positioning of pseudo-element */
}

/* Style for the ::after pseudo-element */
.card.empty::after {
    content: '+ Add New'; /* Text content of the pseudo-element */
    position: absolute;
    top: 50%; /* Position it in the middle vertically */
    left: 50%; /* Position it in the middle horizontally */
    transform: translate(-50%, -50%); /* Center it precisely */
    color: #999; /* Adjust color to your preference */
    font-size: 16px; /* Adjust font size to your preference */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

.task-description {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.checkbox {
    margin-right: 8px;
}


.important-task{
    color: red;
}

.main-content{
    
    display: flex;
  
    gap: 1rem;

    position: relative;
}

.save-button{
    position: absolute;

    bottom: 0%;
    left: 50%;

    transform: translate(-50%, -50%);

    max-width: 120px;
    max-height: 50px;
}



.card{
    position: relative;

    max-height: 80%;

    display: flex;
    flex-direction: column;
}


.sub-task{
    position: absolute;

    top: 100%;
    right: 0;
    width: 100%;
    height: 40px;

    color: blue;

}

.check-task{
    display: flex;
    align-items: center;

    margin-top: 0.5rem;

}

.check-task > img{
    display: none;
}



.small-icon{
    width: 10px;
    height: 10px;
}

.icon{
    width: 15px;
    height: 15px;
}